.navbar {
    height: 75px;
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}
.nav-logo {
    height: inherit !important;
    margin: 0 !important;
}
.navbar li a {
    padding-top: 0 !important;
    line-height: 75px !important;
    height: 75px !important;
    font-size: 1.4em !important;
}
.navbar-toggle {
    height: 50px !important;
    padding: 5px 10px !important;
    border: none !important;
}
.navbar-toggle:hover, .navbar-toggle:visited, .navbar-toggle:active {
    background-color: transparent !important;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}